body{
    padding:0;
  margin:0;
  width:100%;
  overflow:auto;
  align-content: space-between;
  
}

.container {
	width: 100%;
}

.iframe, #display{
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 z-index: -99;
}
.page2{
    margin-top: 50px;

}

.iframe video {
 /* Make video to at least 100% wide and tall */
 min-width: 100%;
 min-height: 100%;
 margin-bottom: 100px;
 /* Setting width & height to auto prevents the browser from stretching or squishing the video */
 width: auto;
 height: auto;
 
 /* Center the video */
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
},

.container2{
margin-top:100px;
 min-width: 200%;
 min-height: 100%;

}

#slideout {
    position: fixed;
    top: 60px;
    right: 30px;
    width: 35px;
    padding: 12px 0;
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 0 5px 5px 0;
}

#slideout_inner {
    position: fixed;
    top: 70px;
    right: -300px;
    background: #004d40 ;
    width: 300px;
    padding: 25px;
    min-height: 100%;
    transition-duration: 0.3s;
    text-align: left;
    border-radius: 0 0 5px 0;
    margin-bottom: 6px;
}

#slideout:hover {
    right: 320px;
}
#slideout:hover #slideout_inner {
    right: 0px;
}

nav {
    font-family: 'Arima Madurai', cursive;
    text-shadow: 2px 2px 2px #aaa;
    margin: 5px;
}
.logo_image {
  margin-top:15px;
  width:50px;
  shape-image-threshold: 62px;
}
.collection {
    margin-right: 300px;
}

.page_footer {
    bottom: 0px;
    margin-bottom: 0px;
    position: fixed;
}

